body{
color:blue;
background:pink;
margin:0;
font-family: "Sixtyfour Convergence", sans-serif;
margin-bottom:100px;

}
header{
    border-bottom:solid 2px  white;
    padding: 20px;
    font-size: 32px;
    color: blueviolet;
}
.chamada{
background:pink;
color: white;
padding-top: 80px;
padding-bottom:80px;
display: flex;
justify-content:center;

}
.texto{
    margin-right:5%;


}
h1{


font-size:30px;
}
p {
    font-size: 20px;
}

    

.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap:10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    
    margim-top: 50px;
}
.categoria-vídeos img{
    opacity: 0.5;
    height: 250px;


}
.categoria-vídeos img:hover{
    opacity: 1;
    border:7px solid white;
}